{%extends 'layout.html'%}
{%block title%}About{%endblock%}
{%block content%}
<h1 class="pushLeft">This is the about page</h1>
<hr>
<p class="pushLeft">This is a test list:</p>
<p class="pushLeft">My dogs name is {{myList[3]}}</p>
<br>
<p class="pushLeft">Click on one of the names to change the sentence: </p>
<button class="pushLeft" disabled>Chen</button>
<button disabled>Noya</button>
<button disabled>Ron</button>
<button>Bruno</button>
<!-- The name was taken from a predifined list in the app.py file -->
{%endblock%}
